{% extends "base.html" %}
{% block content %}
{% include 'nav.html' %}

<div class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12 animated fadeInDown">
                <h2 class="title text-center">HOW WE ARE <strong></strong></h2>

                <P>.We are a young organisation</P>
                <p>.Mobility and IT solution company</p>
                <p>.Client portfolio of Blue-chip clients in two years of operation</p>
                <p>.Dept of Knowledge and experience

            </div>
        </div>
        <br/>

    </div>
</div>

<div class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-6 well animated fadeInDown">
                <h2 class="title text-center">Our <strong>Solutions</strong></h2>

                <p>We are a one stop destination for electrnic gadget and service.HastenSpeed is an innovation and
                    repidly growing technology Company fully focused on Customer Experiance and Delivering Best Product
                    at a competitive price. </p>

            </div>
            <br/>
            <br/>
            <br/>
        <br/>

            <div class="col-sm-6 well animated fadeInDown">
                <h2 class="title text-center">Our <strong>Vision</strong></h2>
                <p>We belive in providing best service experience to our customer and full filling customer need than
                    being a typical Box Mover.</p>
            </div>
        </div>
        <br/>

    </div>
</div>

<div class="container">
    <h2 class="title text-Right">"X"PERIENCE <strong>WE BRING</strong></h2>
    <p> We constantly strive to provide the lowest product prices, the best promotions and options so you know that when
        you shop at HASTENSPEED. you’re always getting a great deal.
    </p>

    <p> HASTENSPEED Is the Best Place to Buy IT Products, IT Related Solutions and Consumer Electronics!
    </p>

    <p>We’ve been supplying IT products to IT enthusiasts since 2007, bringing bundle of knowledge and experience as an
        Internet retailer
        Store ( earlier Known as Cell Mart).
    </p>


    <br>
    </br>
    <h2 class="title text-Right">BUSINESS <strong>UNIT</strong></h2>
    <P> We have four dedicated business units that offer services catering to a specific industry enabling us to deliver
        the needs of clients more effectively. </P>

    <p>1.Apple:- offers best of the entire Apple portfolio exclusively.
    </p>


    <p>2.Enterprise:- caters the Enterprise IT, Mobility, MDM & CRM needs that are specific to the customer requirement.
    </p>

    <p>3.Accessories and Services:- best of the accessory range in the industry.
    </p>

    <p>4.Smart Home Solutions:- committed to making the world a cleaner, greener, and a more sustainable place to live
        in, works on delivering Great Home solution through Offline and Online sales channels.

    </P>


    <br>
</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="../static/js/gmaps.js"></script>
<script src="../static/js/contact.js"></script>
<script src="../static/js/price-range.js"></script>
<script src="../static/js/jquery.scrollUp.min.js"></script>
<script src="../static/js/jquery.prettyPhoto.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/wow.min.js"></script>

{% include 'footer-nav.html' %}

{% endblock %}