{% extends "base.html" %}
{% block content %}
    {% include 'nav.html' %}


<div class="ac-familybrowser-wrapper animated fadeInDown" id="titleSlider">
    <ul class="ac-familybrowser-items">
        <li class="ac-familybrowser-item macbook">
            <a class="ac-familybrowser-link" href="macbook">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">MacBook Series</span>
            </a>
        </li>

        <li class="ac-familybrowser-item iphone-6s">
            <a class="ac-familybrowser-link" href="iphone">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">iPhone Series</span>
            </a>
        </li>

        <li class="ac-familybrowser-item ipad-pro">
            <a class="ac-familybrowser-link" href="ipad">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">&nbsp; iPad Series</span>
            </a>
        </li>


        <li class="ac-familybrowser-item macbook-air">
            <a class="ac-familybrowser-link" href="applewatch">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">Watch</span>
            </a>
        </li>

        <li class="ac-familybrowser-item macbook-pro">
            <a class="ac-familybrowser-link" href="appletv">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">TV </span>
            </a>
        </li>


    </ul>

</div>
	<section>
	
	
	
	 
	 <div class="space10"></div>
	 <div class="space20"></div>
	
	
	
	<div class="container">
	 
	 <div class="container">
			<h2 class="title text-center">Watch Series </h2>
			<div class="row">
			
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/products/applewatch/applewatchseries6.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>Apple Watch Series 6</h3>  
                          <p>From &#8377; 40,900 </p>
                 <ul>
						<li><i class="fa fa-angle-right"></i>&nbsp;  44mm or 40mm case size</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Always-On Retina display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  GPS + Cellular GPS</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Blood Oxygen app</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  ECG app</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  High and low heart rate notifications Irregular heart rhythm notification  </li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Water resistant to 50 metres</li>
						</ul>
						 
                    </a>
                    
                </div>
				 
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/products/applewatch/applewatchse.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>Apple Watch SE</h3>  
                          <p>From &#8377; 29,900</p>
                 <ul>
						<li><i class="fa fa-angle-right"></i>&nbsp;  44mm or 40mm case size</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Retina display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  GPS + Cellular GPS</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Blood Oxygen app</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  ECG app</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  High and low heart rate notifications Irregular heart rhythm notification  </li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Water resistant to 50 metres</li>
						</ul>
						 
                    </a>
                    
                </div>
				 
				<!-- <div class="col-lg-3 col-md-3 applewatch animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/services/watch3.jpg" class="img-responsive" alt="applesolutions">
							 
                         <p><strong>Black leather:</strong>&nbsp;  316L stainless steel Apple Watch (38mm or 42mm case) with black leather Classic Buckle band, stainless steel buckle, sapphire crystal Retina display, and ceramic back.</p>
						 
                    </a>
                    
                </div>
				 
				<div class="col-lg-3 col-md-3 applewatch animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/services/watch4.jpg" class="img-responsive" alt="applesolutions">
							 
                         <p><strong>Stainless steel:</strong>&nbsp;  316L stainless steel Apple Watch (38mm or 42mm case) with stainless steel Milanese loop band, magnetic closure, sapphire crystal Retina display, and ceramic back.</p>
						 
                    </a>
                    
                </div>
				 
				<div class="col-lg-3 col-md-3 applewatch animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/services/watch6.jpg" class="img-responsive" alt="applesolutions">
							 
                         <p><strong>Stone leather:</strong>&nbsp; 316L stainless steel Apple Watch (42mm case only) with stone leather loop band, magnetic closure, sapphire crystal Retina display, and ceramic back.</p>
						 
                    </a>
                    
                </div>
				 
				 
				<div class="col-lg-3 col-md-3 applewatch animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/services/watch5.jpg" class="img-responsive pull-left" alt="applesolutions">
							 <br />
                         <p><strong>Steel bracelet:</strong>&nbsp;  316L stainless steel Apple Watch (38mm or 42mm case) with stainless steel link bracelet band, butterfly closure, and ceramic back.</p>
						 
                    </a>
                    
                </div> -->
				  
				 
            </div>
			  		
		</div>
	
	 
	</div>
	
	 
		
	</section>

    <script src="../static/js/jquery.js"></script>
	<script src="../static/js/price-range.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/main.js"></script>
	<script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
	 <script src="../static/js/wow.min.js"></script>


{% include 'footer-nav.html' %}

{% endblock %}