<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	 <title>iclanretail.com| Apple Watch</title>
	
	<meta name="description" content="iclanretail.com is the best apple iPhone service center in  Bangalore. For all iPhone, Smartphones, Tablets and Laptops repairs across bangalore.">
	
	
    <meta name="author" content="iclanretail.com Services, iclanretail.com Services bangalore, iPad Services, Mac Services, Apple Watch Services, iOS Services, OS X Services, watchOS Services">
	
	<meta name="google-site-verification" content="#" />
	<link rel="shortcut icon" href="../static/images/favicon.jpg">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/prettyPhoto.css" rel="stylesheet">
    <link href="../static/css/price-range.css" rel="stylesheet">
    <link href="../static/css/animate.css" rel="stylesheet">
	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->       
     
</head><!--/head-->

<body>
	 <header id="header">
	
		 <div class="header_top"><!--header_top-->
			 <div class="container">
				<div class="row">
				 <div class="col-lg-3">
					<a href="index.html"><img src="../static/images/iclan-b2b-logo.png" style="padding-top:3px;" class="img-responsive" alt="" /> </a>
					</div>
					 
					<div class="col-lg-6">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							  <ul class="nav navbar-nav collapse navbar-collapse">
							   
								<li class="active"><a href="index.html">&nbsp; Home</a>  </li> 
								<li><a href="about.html">About Us</a>  </li> 
								<!--<li><a href="services.html">Services</a>  </li> 
								<li><a href="gallery.html">Gallery</a>  </li>  -->
								</li><li><a href="b2b.html">Corporate Orders</a>  
								<li><a href="applesolution.html">Contact Us</a>   </li>  
								 						 
								 
							</ul> 
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/Apple-Solutions-997351437019875/?skip_nax_wizard=true"><i class="fa fa-facebook"></i></a></li>
								
								<li><a href="https://plus.google.com/u/0/111512208439544787236?hl=en"><i class="fa fa-google-plus"></i></a></li>	
								
								<li><a href="https://www.youtube.com/channel/UC6KFMkwMvJdWZQjUE7xnorg"><i class="fa fa-youtube"></i></a></li>
								 
								
							</ul>
						</div>
					</div>
					 
				</div>
			</div>
		</div> 
		
		 
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				
				
			<div class="ac-familybrowser-wrapper  animated fadeInDown">
				<ul class="ac-familybrowser-items">
					<li class="ac-familybrowser-item macbook">
						<a class="ac-familybrowser-link" href="macbook.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">MacBook Series</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item iphone-6s">
						<a class="ac-familybrowser-link" href="iphone.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">iPhone Series</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item ipad-pro">
						<a class="ac-familybrowser-link" href="ipad.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">&nbsp; iPad Series</span>
						</a>
					</li>
					
					
					<li class="ac-familybrowser-item macbook-air">
						<a class="ac-familybrowser-link" href="applewatch.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">Watch</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item macbook-pro">
						<a class="ac-familybrowser-link" href="appletv.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">TV </span>
						</a>
					</li> 
					
					
				</ul>
				 
			</div>
			 	
			</div>
		</div><!--/header-bottom-->
	
		
	</header><!--/header-->
	 <br />
	
	 
	<section>
	
	
	
	 
	 <div class="space10"></div>
	 <div class="space20"></div>
	
	
	
	<div class="container">
	 
	 <div class="container">
			<h2 class="title text-center">Watch Series </h2>
			<div class="row">
			
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/products/applewatch/applewatchseries6.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>Apple Watch Series 6</h3>  
                          <p>From &#8377; 40,900 </p>
                 <ul>
						<li><i class="fa fa-angle-right"></i>&nbsp;  44mm or 40mm case size</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Always-On Retina display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  GPS + Cellular GPS</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Blood Oxygen app</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  ECG app</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  High and low heart rate notifications Irregular heart rhythm notification  </li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Water resistant to 50 metres</li>
						</ul>
						 
                    </a>
                    
                </div>
				 
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/products/applewatch/applewatchse.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>Apple Watch SE</h3>  
                          <p>From &#8377; 29,900</p>
                 <ul>
						<li><i class="fa fa-angle-right"></i>&nbsp;  44mm or 40mm case size</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Retina display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  GPS + Cellular GPS</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Blood Oxygen app</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  ECG app</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  High and low heart rate notifications Irregular heart rhythm notification  </li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Water resistant to 50 metres</li>
						</ul>
						 
                    </a>
                    
                </div>
				 
				<!-- <div class="col-lg-3 col-md-3 applewatch animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/services/watch3.jpg" class="img-responsive" alt="applesolutions">
							 
                         <p><strong>Black leather:</strong>&nbsp;  316L stainless steel Apple Watch (38mm or 42mm case) with black leather Classic Buckle band, stainless steel buckle, sapphire crystal Retina display, and ceramic back.</p>
						 
                    </a>
                    
                </div>
				 
				<div class="col-lg-3 col-md-3 applewatch animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/services/watch4.jpg" class="img-responsive" alt="applesolutions">
							 
                         <p><strong>Stainless steel:</strong>&nbsp;  316L stainless steel Apple Watch (38mm or 42mm case) with stainless steel Milanese loop band, magnetic closure, sapphire crystal Retina display, and ceramic back.</p>
						 
                    </a>
                    
                </div>
				 
				<div class="col-lg-3 col-md-3 applewatch animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/services/watch6.jpg" class="img-responsive" alt="applesolutions">
							 
                         <p><strong>Stone leather:</strong>&nbsp; 316L stainless steel Apple Watch (42mm case only) with stone leather loop band, magnetic closure, sapphire crystal Retina display, and ceramic back.</p>
						 
                    </a>
                    
                </div>
				 
				 
				<div class="col-lg-3 col-md-3 applewatch animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/services/watch5.jpg" class="img-responsive pull-left" alt="applesolutions">
							 <br />
                         <p><strong>Steel bracelet:</strong>&nbsp;  316L stainless steel Apple Watch (38mm or 42mm case) with stainless steel link bracelet band, butterfly closure, and ceramic back.</p>
						 
                    </a>
                    
                </div> -->
				  
				 
            </div>
			  		
		</div>
	
	 
	</div>
	
	 
		
	</section>
	<div class="space10"></div>
	<div class="space20"></div>
	<div class="space30"></div>
	 
		<footer id="footer"><!--Footer-->
	 
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
					<p class="pull-left">Copyright © 2020 <a href="index.html">iclanretail.com .</a> All rights reserved.</p>
					
					</div>
					<div class="col-md-6">
						<p class="pull-right">Designed by <span><a target="_blank" href="http://iclanweb.com/">iclanweb.com</a></span></p>
					</div>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
    <script src="../static/js/jquery.js"></script>
	<script src="../static/js/price-range.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/main.js"></script>
	<script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
	 <script src="../static/js/wow.min.js"></script>
</body>
</html>