{% extends "base.html" %}
{% block content %}
    {% include 'nav.html' %}


<div class="ac-familybrowser-wrapper animated fadeInDown" id="titleSlider">
    <ul class="ac-familybrowser-items">
        <li class="ac-familybrowser-item macbook">
            <a class="ac-familybrowser-link" href="macbook">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">MacBook Series</span>
            </a>
        </li>

        <li class="ac-familybrowser-item iphone-6s">
            <a class="ac-familybrowser-link" href="iphone">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">iPhone Series</span>
            </a>
        </li>

        <li class="ac-familybrowser-item ipad-pro">
            <a class="ac-familybrowser-link" href="ipad">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">&nbsp; iPad Series</span>
            </a>
        </li>


        <li class="ac-familybrowser-item macbook-air">
            <a class="ac-familybrowser-link" href="applewatch">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">Watch</span>
            </a>
        </li>

        <li class="ac-familybrowser-item macbook-pro">
            <a class="ac-familybrowser-link" href="appletv">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">TV </span>
            </a>
        </li>


    </ul>

</div>
			<div class="container">
				
				
			<div class="ac-familybrowser-wrapper  animated fadeInDown">
				<ul class="ac-familybrowser-items">
					<li class="ac-familybrowser-item macbook">
						<a class="ac-familybrowser-link" href="macbook.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">MacBook Series</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item iphone-6s">
						<a class="ac-familybrowser-link" href="iphone.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">iPhone Series</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item ipad-pro">
						<a class="ac-familybrowser-link" href="ipad.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">&nbsp; iPad Series</span>
						</a>
					</li>
					
					
					<li class="ac-familybrowser-item macbook-air">
						<a class="ac-familybrowser-link" href="applewatch.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">Watch</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item macbook-pro">
						<a class="ac-familybrowser-link" href="appletv.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">TV </span>
						</a>
					</li> 
					
					
				</ul>
				 
			</div>
			 	
			</div>
		</div><!--/header-bottom-->
	
		
	</header><!--/header-->
	 <br />
	
	 
	<section>
	
	<div class="container">
		
		<div class="row">


			<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
	            <a href="applesolution.html" style="text-decoration:none;"><br />
	                <img src="../static/images/products/appletv/appletv4k.jpg" class="img-responsive" alt="applesolutions">
						 
	                 <h3>Apple TV 4K</h3>
					 <p>Starting From &#8377; 17,430</p>
					<ul>
					
					<li><i class="fa fa-angle-right"></i>&nbsp;  32GB and 64GB</li>
					<li><i class="fa fa-angle-right"></i>&nbsp;  4K High Dynamic Range </li>
					<li><i class="fa fa-angle-right"></i>&nbsp;  Dolby Digital Plus 7.1 surround sound</li>
					<li><i class="fa fa-angle-right"></i>&nbsp;  A10X Fusion chip  <br> &nbsp;&nbsp; for ultra-fast graphics and performance</li>
					<li><i class="fa fa-angle-right"></i>&nbsp;  Voice search by asking the Siri Remote</li>
					<li><i class="fa fa-angle-right"></i>&nbsp;  Netflix, Hulu, Espn Supported</li>

					 
					</ul>
	            </a>
	            
	        </div>
			
			<!-- <div class="col-md-3 animated fadeInDown">
		 
				<div class="top-grid">
	                    <div class="top-grid-left">
	                        <img src="../static/images/Technician.png" alt="applesolution" class="img-responsive" />
	                    </div>
	                    <div class="top-grid-right">
	                        <h2>Experienced Technicians</h2>
	                         
	                    </div>
	                    <div class="clear"> </div>
	            </div>
				
		 
			</div>
			
			<div class="col-md-3 animated fadeInDown">
			
				<div class="top-grid">
	                    <div class="top-grid-left">
	                        <img src="../static/images/Parts.png" alt="applesolution" class="img-responsive" />
	                    </div>
	                    <div class="top-grid-right">
	                        <h2>Genuine Parts</h2>
	                         
	                    </div>
	                    <div class="clear"> </div>
	            </div>
			
			</div>
			
			<div class="col-md-3 animated fadeInDown">
			 <div class="top-grid">
	                    <div class="top-grid-left icon3">
	                        <img src="../static/images/Repair.png" alt="applesolution" class="img-responsive" />
	                    </div>
	                    <div class="top-grid-right">
	                        <h2>Express Repair Services</h2>
	                         
	                    </div>
	                    <div class="clear"> </div>
	                </div>
			</div>
			
			<div class="col-md-3 animated fadeInDown">
				<div class="top-grid">
	                    <div class="top-grid-left icon4">
	                       <img src="../static/images/Warranty.png" alt="applesolution" class="img-responsive" />
	                    </div>
	                    <div class="top-grid-right">
	                        <h2>100% hassle free warranty on Repairs and Parts</h2>
	                         
	                    </div>
	                    <div class="clear"> </div>
	            </div>
			</div> -->
		</div>
	</div>
	 
	 <div class="space10"></div>
	 <div class="space20"></div>
	
	
	
	<!-- <div class="container">
	 
	 <div class="container">
			<h2 class="title text-center">TV Series Services</h2>
			<div class="row">
			
				<div class="col-lg-3 col-md-3 tvseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/services/tvgeneration1.png" class="img-responsive" alt="applesolutions">
							 
                         <h3>3th generation </h3> 
						 <p></p>
                    </a>
                    
                </div>
				<div class="col-lg-3 col-md-3 tvseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/services/tvgeneration.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>4th generation </h3> 
						 
                    </a>
                    
                </div>
				 
            </div>
			  		
		</div>
	
	 
	</div> -->
	
	 
		
	</section>
	<div class="space10"></div>
	<div class="space20"></div>
	<div class="space30"></div>
	<div class="space120"></div>
	 

    <script src="../static/js/jquery.js"></script>
	<script src="../static/js/price-range.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/main.js"></script>
	<script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
	 <script src="../static/js/wow.min.js"></script>


{% include 'footer-nav.html' %}

{% endblock %}