<!doctype html>
<html lang="en">
<head>

</head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Iclanretail</title>

    <meta name="description"
          content="iclanretail.com is the best apple iPhone service center in  Bangalore. For all iPhone, Smartphones, Tablets and Laptops repairs across bangalore.">


    <meta name="author"
          content="iclanretail.com, iclanretail.com bangalore, iPad, Mac, Apple Watch, iOS, OS X, watchOS">

    <meta name="google-site-verification" content="#"/>
<!--    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">-->
<!--    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/prettyPhoto.css" rel="stylesheet">
    <link href="../static/css/price-range.css" rel="stylesheet">
    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>


    <script type="text/javascript" src="../ststic/js/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="../ststic/js/html5shiv.js"></script>
    <script src="../ststic/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../ststic/images/favicon.jpg">



<body>

    {% block content %}
    {%  endblock %}

</body>
</html>
