{% extends "base.html" %}
{% block content %}
{% include 'nav.html' %}

	<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				
				
			<div class="ac-familybrowser-wrapper animated fadeInDown">
				<ul class="ac-familybrowser-items">
					<li class="ac-familybrowser-item macbook">
						<a class="ac-familybrowser-link" href="macbook.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">MacBook Series</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item iphone-6s">
						<a class="ac-familybrowser-link" href="iphone.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">iPhone Series</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item ipad-pro">
						<a class="ac-familybrowser-link" href="ipad.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">&nbsp; iPad Series</span>
						</a>
					</li>
					
					
					<li class="ac-familybrowser-item macbook-air">
						<a class="ac-familybrowser-link" href="applewatch.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">Watch</span>
						</a>
					</li>
					
					<li class="ac-familybrowser-item macbook-pro">
						<a class="ac-familybrowser-link" href="appletv.html">
							<figure class="ac-familybrowser-icon"></figure>
							<span class="ac-familybrowser-label">TV </span>
						</a>
					</li> 
					
					
				</ul>
				 
			</div>
			 
				
			</div>
		</div><!--/header-bottom-->
	 
	<section>
		<div class="container">
			<h2 class="title text-center">Our <strong> Gallery </strong>
						</h2>
			 
		<ul class="row applegallery">
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery11.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery2.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery3.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery4.png">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery5.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery6.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery7.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery8.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery9.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery10.png">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery11.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery12.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery13.jpg">
            </li>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
                <img class="img-responsive" src="../static/images/gallery/gallery14.jpg">
            </li>
             
        </ul> 
				 
			 
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			 <div class="modal-content">         
			   <div class="modal-body">                
			   </div>
			 </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</section>
	<div class="space10"></div>
	<div class="space20"></div>
	<div class="space30"></div> 

	

  
    <script src="../static/js/jquery.js"></script>
	<script src="../static/js/price-range.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/main.js"></script>
	 <script src="../static/js/wow.min.js"></script>

{% include 'footer-nav.html' %}

{% endblock %}