{% extends "base.html" %}
{% block content %}
    {% include 'nav.html' %}

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">


            <div class="ac-familybrowser-wrapper animated fadeInDown" id="titleSlider" >
                <ul class="ac-familybrowser-items">
                    <li class="ac-familybrowser-item macbook">
                        <a class="ac-familybrowser-link" href="macbook">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">MacBook</span>
                        </a>
                    </li>

                    <li class="ac-familybrowser-item iphone-6s">
                        <a class="ac-familybrowser-link" href="iphone">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">iPhone</span>
                        </a>
                    </li>

                    <li class="ac-familybrowser-item ipad-pro">
                        <a class="ac-familybrowser-link" href="ipad">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">iPad</span>
                        </a>
                    </li>


                    <li class="ac-familybrowser-item macbook-air">
                        <a class="ac-familybrowser-link" href="applewatch">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">Watch</span>
                        </a>
                    </li>

                    <li class="ac-familybrowser-item macbook-pro">
                        <a class="ac-familybrowser-link" href="appletv">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">TV </span>
                        </a>
                    </li>


                </ul>

            </div>


        </div>
    </div><!--/header-bottom-->

<div class="owl-carousel" style="width: 98%; right: 1%; left: 1%">

    <div><img src="../static/images/banner/1.jpg"  alt=""/></div>
    <div><img src="../static/images/banner/2.jpg" alt="" /></div>
    <div><img src="../static/images/banner/3.jpg"  alt=""/></div>
    <div><img src="../static/images/banner/4.jpg"  alt=""/></div>
    <div ><img src="../static/images/banner/repair5.jpg" alt=""/></div>

</div>


<section>
    <div class="container">
        <div class="service-section">

            <div class="service-grids">
                <div class="col-md-4 service-grid animated fadeInDown">
                    <img src="../static/images/warrantyapple.png" title="Warranty" alt="Warranty">
                    <h4>Warranty</h4>
                    <p>All Products comes with 1 year company warrant.
                        <br/><br/>
                    </p>
                </div>
                <div class="col-md-4 service-grid animated fadeInDown">
                    <img src="../static/images/money emi.png" title="EMI" alt="EMI">
                    <h4>EMI</h4>
                    <p>EMI option is also available for all products.
                        <br/><br/>
                    </p>
                </div>

                <div class="col-md-4 service-grid animated fadeInDown">
                    <img src="../static/images/serviceatdoor.png" title="Service @ Your Door Step" alt="Service @ Your Door Step">
                    <h4>Delivery @ Your Door Step</h4>
                    <p>We provide free delivey at your door step all over bengaluru.</p>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>

    </div>

    <div class="space20"></div>


    </div>
    </div>
</section>
<br/><br/>


<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10"
     data-image-src="../static/../static/images/slider1.jpg" data-natural-width="1400" data-natural-height="900" style="height: auto;">

    <div class="container">
        <h2 class="title text-center">Shop By Category</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                <a href="iphone" style="text-decoration:none;">
                    <img src="../static/../static/images/iphonedevice.jpg" class="img-responsive" alt="applesolutions">

                    <h3>iPhone </h3>
                    <p>Buy all latest iPhones at reasonable price.All iPhone variants availabe at our store.
                    </p>

                </a>

            </div>
            <hr class="hr-space visible-xs">

            <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                <a href="applewatch" style="text-decoration:none;">
                    <img src="../static/../static/images/applewatch.png" class="img-responsive" alt="applesolutions">

                    <h3>Watch</h3>

                    <p>Buy all latest iWatch at reasonable price.All iWatch variants availabe at our store.</p>

                </a>

            </div>
            <hr class="hr-space visible-xs">

            <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                <a href="ipad" style="text-decoration:none;">
                    <img src="../static/../static/images/ipadicon.png" class="img-responsive" alt="applesolutions">

                    <h3>iPad</h3>

                    <p>Buy all latest iPad at reasonable price.All iPad variants availabe at our store.</p>

                </a>

            </div>
            <hr class="hr-space visible-xs">

            <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                <a href="macbook" style="text-decoration:none;">
                    <img src="../static/../static/images/macicon.png" class="img-responsive" alt="applesolutions">

                    <h3>Mac Series</h3>

                    <p>Buy all latest Mac Book at reasonable price.All Mac Book variants availabe at our store.</p>
                </a>
            </div>
            <hr class="hr-space visible-xs">
        </div>
    </div>
</div>
<br/>
<br/><br/>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="../static/others/owl-carousel/assets/owl.carousel.min.css"/>
<script src="../static/others/owl-carousel/bootstrap.min.js"></script>
<script src="../static/others/owl-carousel/jquery.js"></script>
<script src="../static/others/owl-carousel/owl-carousel.js"></script>


<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        items: 1,
        dots: true,
        margin: 10,
        autoHeight:true,
        loop: true,
        autoplay: true,
        autoplayTimeout: 4000
    });

</script>

{% include 'footer-nav.html' %}

{% endblock %}