{% extends "base.html" %}
{% block content %}
    {% include 'nav.html' %}


<div class="ac-familybrowser-wrapper animated fadeInDown" id="titleSlider">
    <ul class="ac-familybrowser-items">
        <li class="ac-familybrowser-item macbook">
            <a class="ac-familybrowser-link" href="macbook">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">MacBook Series</span>
            </a>
        </li>

        <li class="ac-familybrowser-item iphone-6s">
            <a class="ac-familybrowser-link" href="iphone">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">iPhone Series</span>
            </a>
        </li>

        <li class="ac-familybrowser-item ipad-pro">
            <a class="ac-familybrowser-link" href="ipad">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">&nbsp; iPad Series</span>
            </a>
        </li>


        <li class="ac-familybrowser-item macbook-air">
            <a class="ac-familybrowser-link" href="applewatch">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">Watch</span>
            </a>
        </li>

        <li class="ac-familybrowser-item macbook-pro">
            <a class="ac-familybrowser-link" href="appletv">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">TV </span>
            </a>
        </li>


    </ul>

</div>
	<section>
	 
	
	 
	 <div class="space10"></div>
	 <div class="space20"></div>
	 <div class="container">
			<h2 class="title text-center">iPad Series </h2>
			<div class="row">
			
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/products/ipad/ipad-pro.png" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPad Pro</h3> 
                          <p>From &#8377; 71,900 </p>
						<ul>
						
						<li><i class="fa fa-angle-right"></i>&nbsp;12.9” and 11” <br> &nbsp;&nbsp;Liquid Retina display with ProMotion</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;A12Z Bionic chip</li>
						<li><i class="fa fa-angle-right"></i>&nbsp; Compatible with Magic Keyboard and Smart Keyboard Folio</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;Compatible with Apple Pencil (2nd generation)</li>
						</ul>
                    </a>
                    
                </div>
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/products/ipad/ipad-air.png" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPad Air 4<sup>th</sup> Gen</h3> 
                         <p>From &#8377; 54,900 </p>
						<ul>
						
						<li><i class="fa fa-angle-right"></i>&nbsp;10.9” <br> &nbsp;&nbsp;Liquid Retina display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp; A14 Bionic chip</li>
						<li><i class="fa fa-angle-right"></i>&nbsp; Compatible with Magic Keyboard and Smart Keyboard Folio</li>
						<li><i class="fa fa-angle-right"></i>&nbsp; Compatible with Apple Pencil (2nd generation)</li>
					    </ul>
                    </a>
                    
                </div>
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/products/ipad/ipad.png" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPad 8<sup>th</sup> Gen</h3>  
                         <p>From &#8377; 29,900 </p>
						<ul>
						
						<li><i class="fa fa-angle-right"></i>&nbsp;10.2” <br> &nbsp;&nbsp; Retina display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp; A12 Bionic chip </li>
						<li><i class="fa fa-angle-right"></i>&nbsp; Compatible with Smart Keyboard</li>
						<li><i class="fa fa-angle-right"></i>&nbsp; Compatible with Apple Pencil (1st generation)</li>
						</ul>
                    </a>
                    
                </div>
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/products/ipad/ipad-mini.png" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPad mini 6<sup>th</sup> Gen</h3> 
                         <p>From &#8377; 25,900 </p>
						<ul>
						
						<li><i class="fa fa-angle-right"></i>&nbsp; 9.7” <br> &nbsp;&nbsp; Retina display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp; A10 Bionic chip </li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Compatible with bluetooth Keyboard</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Compatible with Apple Pencil (1st generation)</li>
						</ul>
                    </a>
                    
                </div>
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;"><br />
                        <img src="../static/images/products/ipad/ipad-mini.png" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPad mini 5<sup>th</sup> Gen</h3> 
                         <p>From &#8377; 34,900 </p>
						<ul>
						
						<li><i class="fa fa-angle-right"></i>&nbsp; 7.9” <br> &nbsp;&nbsp; Retina display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp; A12 Bionic chip </li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Compatible with bluetooth Keyboard</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Compatible with Apple Pencil (1st generation)</li>
						</ul>
                    </a>
                    
                </div>
				
				
				 
            </div>
			  		
		</div>
	 	
	</section>

    <script src="../static/js/jquery.js"></script>
	<script src="../static/js/price-range.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/main.js"></script>
	<script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
	 <script src="../static/js/wow.min.js"></script>


{% include 'footer-nav.html' %}

{% endblock %}