{% extends "base.html" %}
{% block content %}
    {% include 'nav.html' %}


<div class="ac-familybrowser-wrapper animated fadeInDown" id="titleSlider">
    <ul class="ac-familybrowser-items">
        <li class="ac-familybrowser-item macbook">
            <a class="ac-familybrowser-link" href="macbook">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">MacBook Series</span>
            </a>
        </li>

        <li class="ac-familybrowser-item iphone-6s">
            <a class="ac-familybrowser-link" href="iphone">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">iPhone Series</span>
            </a>
        </li>

        <li class="ac-familybrowser-item ipad-pro">
            <a class="ac-familybrowser-link" href="ipad">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">&nbsp; iPad Series</span>
            </a>
        </li>


        <li class="ac-familybrowser-item macbook-air">
            <a class="ac-familybrowser-link" href="applewatch">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">Watch</span>
            </a>
        </li>

        <li class="ac-familybrowser-item macbook-pro">
            <a class="ac-familybrowser-link" href="appletv">
                <figure class="ac-familybrowser-icon"></figure>
                <span class="ac-familybrowser-label">TV </span>
            </a>
        </li>


    </ul>

</div>
	<section>
	
	
	 
	 <div class="space10"></div>
	 <div class="space20"></div>
	
	
	
	<div class="container">
	 
	 <div class="container">
			<h2 class="title text-center">iPhone Series </h2>
			<div class="row">
			
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/products/iphone/iphone-12-pro.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPhone 12 Pro</h3>
						 <p>From &#8377; 1,19,900</p>
						<ul>
						
						<li><i class="fa fa-angle-right"></i>&nbsp;  6.1” or 6.7” <br> &nbsp;&nbsp;&nbsp;Super Retina XDR display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  5G capable</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  A14 Bionic chip</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Pro camera system <br> &nbsp;&nbsp; (Ultra Wide, Wide, Telephoto)</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  LiDAR Scanner for Night mode <br>&nbsp;&nbsp; portraits and next‑level AR</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Compatible with MagSafe <br> &nbsp;&nbsp;&nbsp; accessories</li>

						 
						</ul>
                    </a>
                    
                </div>
				
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/products/iphone/iphone-12.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPhone 12 </h3>
						 <p>From &#8377; 69,900 </p>
						<ul>
						<li><i class="fa fa-angle-right"></i>&nbsp;  5.4” or 6.1”<br> &nbsp;&nbsp; Super Retina XDR display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  5G capable</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  A14 Bionic chip</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Advanced dual‑camera system <br> &nbsp;&nbsp; (Ultra Wide, Wide)/ 5C</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Compatible with MagSafe <br> &nbsp;&nbsp;&nbsp; accessories</li>
						
						</ul>
                    </a>
                    
                </div>
				
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/products/iphone/iphone-11.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPhone 11</h3>
						 <p>From  &#8377; 54,900 </p>
						<ul>
						
						<li><i class="fa fa-angle-right"></i>&nbsp;  6.1” <br> &nbsp;&nbsp; Liquid Retina HD display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  4G LTE cellular</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  A13 Bionic chip</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Dual-camera system <br> &nbsp;&nbsp;&nbsp; (Ultra Wide, Wide)</li>
						</ul>
                    </a>
                    
                </div>
				
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/products/iphone/iphone-se.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPhone SE</h3>
						  <p>From  &#8377; 39,900</p>
						<ul>
						<li><i class="fa fa-angle-right"></i>&nbsp;  4.7” <br> &nbsp;&nbsp;&nbsp;Retina HD display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  4G LTE cellular</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  A12 Bionic chip</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Single-camera system <br> &nbsp;&nbsp;&nbsp; (Wide)</li>
						</ul>
                    </a>
                    
                </div>

				
				<div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br />
                        <img src="../static/images/products/iphone/iphone-xr.jpg" class="img-responsive" alt="applesolutions">
							 
                         <h3>iPhone XR</h3>
						  <p>From  &#8377; 47,900</p>
						<ul>
						<li><i class="fa fa-angle-right"></i>&nbsp;  6.1” <br> &nbsp;&nbsp;&nbsp;Liquid Retina HD display</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  4G LTE cellular</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  A13 Bionic chip</li>
						<li><i class="fa fa-angle-right"></i>&nbsp;  Single-camera system <br> &nbsp;&nbsp;&nbsp; (Wide)</li>
						</ul>
                    </a>
                    
                </div>
				
				 
				  
            </div>
			  		
		</div>
	
	 
	</div>
	
	 
		
	</section>

    <script src="../static/js/jquery.js"></script>
	<script src="../static/js/price-range.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/main.js"></script>
	<script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
	 <script src="../static/js/wow.min.js"></script>


{% include 'footer-nav.html' %}

{% endblock %}