{% extends "base.html" %}
{% block content %}
    {% include 'nav.html' %}

     {% include 'nav-lower.html' %}
<section>

    <div class="space10"></div>
    <div class="space20"></div>

    <div class="container">

        <div class="container">
            <h2 class="title text-center">Mac BOOK Series </h2>
            <div class="row">

                <div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br/>
                        <img src="../static/images/products/macbook/macbookair(retina).jpg" class="img-responsive"
                             alt="applesolutions">

                        <h3>MacBook Air(Retina)</h3>
                        <p>From &#8377; 92,990</p>
                        <ul>

                            <li><i class="fa fa-angle-right"></i>&nbsp;13.3″ <br> &nbsp;&nbsp; Retina display</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 4-core <br> &nbsp;&nbsp; Intel Core i7
                                processor
                            </li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 16GB memory</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 2TB storage</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 11 hours battery life</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Touch ID</li>
                        </ul>
                    </a>

                </div>

                <div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br/>
                        <img src="../static/images/products/macbook/macbookPro13-in-two-thounderbolt.jpg"
                             class="img-responsive" alt="applesolutions">

                        <h3>MacBook Pro 13-in.(Two Thounderbolt 3 Ports)</h3>
                        <p>From &#8377; 1,22,900</p>
                        <ul>

                            <li><i class="fa fa-angle-right"></i>&nbsp; 13.3″ <br> &nbsp;&nbsp; Retina display</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 4-core <br> &nbsp;&nbsp; Intel Core i7
                                processor
                            </li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 16GB memory</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 2TB storage</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 10 hours battery life</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Touch Bar and Touch ID</li>
                        </ul>
                    </a>

                </div>

                <div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br/>
                        <img src="../static/images/products/macbook/macbookpro-16-in.jpg" class="img-responsive"
                             alt="applesolutions">

                        <h3>MacBook Pro 16-in.</h3>
                        <p>From &#8377; 1,99,900</p>
                        <ul>

                            <li><i class="fa fa-angle-right"></i>&nbsp; 16″ <br> &nbsp;&nbsp; Retina display</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 8-core <br> &nbsp;&nbsp; Intel Core i9
                                processor
                            </li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 64GB memory</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 8TB storage</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 11 hours battery life</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Touch Bar and Touch ID</li>
                        </ul>
                    </a>

                </div>

                <div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br/>
                        <img src="../static/images/products/macbook/macbookpro13-in-four-thounderbolt.jpg"
                             class="img-responsive" alt="applesolutions">

                        <h3>MacBook Pro 13-in.(Four Thounderbolt 3 Ports)</h3>
                        <p>From &#8377; 1,74,900</p>
                        <ul>

                            <li><i class="fa fa-angle-right"></i>&nbsp; 13.3″ <br> &nbsp;&nbsp; Retina display</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 4-core <br> &nbsp;&nbsp; Intel Core i7
                                processor
                            </li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 32GB memory</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 4TB storage</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 10 hours battery life</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Touch Bar and Touch ID</li>
                        </ul>
                    </a>

                </div>

                <div class="col-lg-3 col-md-3 appleseries animated fadeInDown">
                    <a href="contact" style="text-decoration:none;"><br/>
                        <img src="../static/images/products/macbook/imac-21.5.jpg" class="img-responsive"
                             alt="applesolutions">

                        <h3>iMac 21.5-in.</h3>
                        <p>From &#8377; 99,900</p>
                        <ul>

                            <li><i class="fa fa-angle-right"></i>&nbsp; 21.5″ display</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; 2-core Intel Core i5 processor</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 16GB memory Air</li>
                            <li><i class="fa fa-angle-right"></i>&nbsp; Up to 1TB storage</li>

                        </ul>
                    </a>

                </div>


            </div>

        </div>


    </div>


</section>
<div class="space10"></div>
<div class="space20"></div>
<div class="space30"></div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/price-range.js"></script>
<script src="../static/js/jquery.scrollUp.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.prettyPhoto.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/parallax.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/wow.min.js"></script>

{% include 'footer-nav.html' %}

{% endblock %}