    <div class="header-bottom"><!--header-bottom-->
        <div class="container">


            <div class="ac-familybrowser-wrapper animated fadeInDown" id="titleSlider" >
                <ul class="ac-familybrowser-items">
                    <li class="ac-familybrowser-item macbook">
                        <a class="ac-familybrowser-link" href="macbook">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">MacBook</span>
                        </a>
                    </li>

                    <li class="ac-familybrowser-item iphone-6s">
                        <a class="ac-familybrowser-link" href="iphone">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">iPhone</span>
                        </a>
                    </li>

                    <li class="ac-familybrowser-item ipad-pro">
                        <a class="ac-familybrowser-link" href="ipad">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">iPad</span>
                        </a>
                    </li>


                    <li class="ac-familybrowser-item macbook-air">
                        <a class="ac-familybrowser-link" href="applewatch">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">Watch</span>
                        </a>
                    </li>

                    <li class="ac-familybrowser-item macbook-pro">
                        <a class="ac-familybrowser-link" href="appletv">
                            <figure class="ac-familybrowser-icon"></figure>
                            <span class="ac-familybrowser-label">TV </span>
                        </a>
                    </li>


                </ul>

            </div>


        </div>
    </div><!--/header-bottom-->