{% extends "base.html" %}
{% block content %}
    {% include 'nav.html' %}

	<section>
	
	<div class="container">
	
	<div class="row">
		
		<div class="col-md-3 animated fadeInDown">
	 
			<div class="top-grid">
                    <div class="top-grid-left">
                        <img src="../static/images/Technician.png" alt="applesolution" class="img-responsive" />
                    </div>
                    <div class="top-grid-right">
                        <h2>Experienced Technicians</h2>
                         
                    </div>
                    <div class="clear"> </div>
            </div>
			
	 
		</div>
		
		<div class="col-md-3 animated fadeInDown">
		
			<div class="top-grid">
                    <div class="top-grid-left">
                        <img src="../static/images/Parts.png" alt="applesolution" class="img-responsive" />
                    </div>
                    <div class="top-grid-right">
                        <h2>Genuine Parts</h2>
                         
                    </div>
                    <div class="clear"> </div>
            </div>
		
		</div>
		
		<div class="col-md-3 animated fadeInDown">
		 <div class="top-grid">
                    <div class="top-grid-left icon3">
                        <img src="../static/images/Repair.png" alt="applesolution" class="img-responsive" />
                    </div>
                    <div class="top-grid-right">
                        <h2>Express Repair Services</h2>
                         
                    </div>
                    <div class="clear"> </div>
                </div>
		</div>
		
		<div class="col-md-3 animated fadeInDown">
			<div class="top-grid">
                    <div class="top-grid-left icon4">
                       <img src="../static/images/Warranty.png" alt="applesolution" class="img-responsive" />
                    </div>
                    <div class="top-grid-right">
                        <h2> Repairs and Parts</h2>
                         
                    </div>
                    <div class="clear"> </div>
            </div>
		</div>
	</div>
	</div>
	 
	 <div class="space10"></div>
	 <div class="space20"></div>
	
	
	
	<div class="container">
	 
	 <div class="container">
			<h2 class="title text-center">Our Services</h2>
			<div class="row">
			
				 <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                    <a href="macbook.html" style="text-decoration:none;">
                        <img src="../static/images/macicon.png" class="img-responsive" alt="applesolutions">
							 
                         <h3>Mac</h3>

							<p>Macs are not ordinary computers for everyone to repair,

						our dedicated team have learnt it all.</p>
                             
                    </a>
                    
                </div>
			
                <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                    <a href="iphone.html" style="text-decoration:none;">
                        <img src="../static/images/iphonedevice.jpg" class="img-responsive" alt="applesolutions">
							 
                        <h3>iPhone </h3>
						<p>From broken Screens to board level
                           repairs we fix everything possible in your iPhone
						</p>
                             
                    </a>
                    
                </div>
                <hr class="hr-space visible-xs">
                
                 
                <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                    <a href="ipad.html" style="text-decoration:none;">
                        <img src="../static/images/ipadicon.png" class="img-responsive" alt="applesolutions">
							 
                        <h3>iPad</h3>

					   <p>Some say repairing an iPad is an art, and we

						have perfected it.</p>
                             
                    </a>
                    
                </div>
                <hr class="hr-space visible-xs">
                 
				  
                <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                    <a href="applewatch.html" style="text-decoration:none;">
                        <img src="../static/images/ipodicon.png" class="img-responsive" alt="applesolutions">
							 
                       <h3>Watch</h3>

					   <p>We revive your old watch and the memories that

				came along with it</p>
                             
                    </a>
                    
                </div>
                <hr class="hr-space visible-xs">
                  <div class="space10"></div>
				  
                <div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                    <a href="appletv.html" style="text-decoration:none;">
                        <img src="../static/images/appletv.jpg" class="img-responsive" alt="applesolutions">
							 
                       <h3>TV</h3>

					   <p>We revive your old TV and the memories that

				came along with it</p>
                             
                    </a>
                    
                </div>
                <hr class="hr-space visible-xs">
				<div class="col-lg-3 col-md-3 appleser animated fadeInDown">
                    <a href="applesolution.html" style="text-decoration:none;">
                        <img src="../static/images/banner/repair.jpeg" class="img-responsive" alt="applesolutions">
							 
                       <h3>Repair</h3>

					   <p>We’re here to help. Apple-certified repairs are performed by trusted experts who use genuine Apple parts. Whichever option you choose, you’ll get your product back working exactly the way it should.</p>
                             
                    </a>
                    
                </div>
                
                 
            </div>
			  		
		</div>
	
	 
	</div>
	
	 
		
	</section>
	<div class="space10"></div>
	<div class="space20"></div>
	<div class="space30"></div>
	<div style="background-color:gainsboro">
		<h1 >Contact Details: </h1>
        <div style="text-align: center">
            <strong>HastenSpeed</strong><br/>
			iClan by HastenSpeed, <br>
			Beside polar bear. Vijayabank layout
			Gangaparameshwari Nagar <br>
            Kodichikknahalli, Bengaluru, Karnataka 560076 <br>
			+91 720-432-1987 |
		Operations@hastenspeed.in <br>
        </div>
	</div>
	 

	

  
    <script src="../static/js/jquery.js"></script>
	<script src="../static/js/price-range.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/main.js"></script>
	<script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
	 <script src="../static/js/wow.min.js"></script>

{% include 'footer-nav.html' %}

{% endblock %}